.summary {
    display: inline-block;
}

.card {
    display: flex;
    padding-bottom: 20px;
}

.field, .title {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-width: 2px;
    border-color: black;
    text-align: center;
    width: 140px;
    padding: 10px;
    resize: none;
    color: black;
}

.title {
    margin-left: 10px;
    border: white;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    font-family: "Roboto Light";
}

.titleSection {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

}

.editButton {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    float: top;
}

.edit {
    padding-left: 40px;
}